#imBreadcrumb { float: left; }
#imGroup_1 { float: left; }
#imGroup_1 > div { float: left; }
#imGroup_2 > div { float: left; }
#imCell_1 { display: block; position: relative; overflow: hidden; }
#imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_1 { width: 100%; max-width: 603px; }
#imGroup_4 > div { float: left; }
#imGroup_7 > div { float: left; }
#imGroup_10 > div { float: left; }
#imGroup_13 > div { float: left; }
#imGroup_16 > div { float: left; }
#imGroup_19 > div { float: left; }
#imGroup_22 > div { float: left; }
#imCell_21 { display: block; position: relative; overflow: hidden; }
#imCellStyle_21 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_21 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
@media (min-width: 1240px) {
	#imBreadcrumb { width: 1216px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 1230px; }
	#imGroup_2 { width: 1230px; }
	#imGroup_3 { width: 615px; height: 94px; }
	#imCell_1 { width: 609px; min-height: 88px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_1 { width: 609px; min-height: 88px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_1 { left: 3px; right: 3px; }
	#imGroup_4 { width: 1230px; }
	#imGroup_5 { width: 615px; height: 15px; }
	#imGroup_6 { width: 615px; height: 15px; }
	#imGroup_7 { width: 1230px; }
	#imGroup_8 { width: 615px; height: 0px; }
	#imGroup_9 { width: 615px; height: 0px; }
	#imGroup_10 { width: 1230px; }
	#imGroup_11 { width: 615px; height: 0px; }
	#imGroup_12 { width: 615px; height: 0px; }
	#imGroup_13 { width: 1230px; }
	#imGroup_14 { width: 615px; height: 0px; }
	#imGroup_15 { width: 615px; height: 0px; }
	#imGroup_16 { width: 1230px; }
	#imGroup_17 { width: 615px; height: 0px; }
	#imGroup_18 { width: 615px; height: 0px; }
	#imGroup_19 { width: 1230px; }
	#imGroup_20 { width: 615px; height: 0px; }
	#imGroup_21 { width: 615px; height: 0px; }
	#imGroup_22 { width: 1230px; }
	#imGroup_23 { width: 615px; height: 32px; }
	#imCell_21 { width: 609px; min-height: 26px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_21 { width: 609px; min-height: 26px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_21 { left: 3px; right: 3px; }
	
}
@media  (max-width: 1239px) and (min-width: 720px) {
	#imBreadcrumb { width: 696px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 710px; }
	#imGroup_2 { width: 710px; }
	#imGroup_3 { width: 355px; height: 59px; }
	#imCell_1 { width: 351px; min-height: 53px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_1 { width: 351px; min-height: 53px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_1 { left: 2px; right: 2px; }
	#imGroup_4 { width: 710px; }
	#imGroup_5 { width: 355px; height: 15px; }
	#imGroup_6 { width: 355px; height: 15px; }
	#imGroup_7 { width: 710px; }
	#imGroup_8 { width: 355px; height: 0px; }
	#imGroup_9 { width: 355px; height: 0px; }
	#imGroup_10 { width: 710px; }
	#imGroup_11 { width: 355px; height: 0px; }
	#imGroup_12 { width: 355px; height: 0px; }
	#imGroup_13 { width: 710px; }
	#imGroup_14 { width: 355px; height: 0px; }
	#imGroup_15 { width: 355px; height: 0px; }
	#imGroup_16 { width: 710px; }
	#imGroup_17 { width: 355px; height: 0px; }
	#imGroup_18 { width: 355px; height: 0px; }
	#imGroup_19 { width: 710px; }
	#imGroup_20 { width: 355px; height: 0px; }
	#imGroup_21 { width: 355px; height: 0px; }
	#imGroup_22 { width: 710px; }
	#imGroup_23 { width: 355px; height: 32px; }
	#imCell_21 { width: 351px; min-height: 26px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_21 { width: 351px; min-height: 26px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_21 { left: 2px; right: 2px; }
	
}
@media  (max-width: 719px) and (min-width: 480px) {
	#imBreadcrumb { width: 456px; margin-left: 6px; margin-right: 6px; }
	#imGroup_1 { width: 470px; }
	#imGroup_2 { width: 470px; }
	#imGroup_3 { width: 235px; height: 43px; }
	#imCell_1 { width: 233px; min-height: 37px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_1 { width: 233px; min-height: 37px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_1 { left: 1px; right: 1px; }
	#imGroup_4 { width: 470px; }
	#imGroup_5 { width: 235px; height: 15px; }
	#imGroup_6 { width: 235px; height: 15px; }
	#imGroup_7 { width: 470px; }
	#imGroup_8 { width: 235px; height: 0px; }
	#imGroup_9 { width: 235px; height: 0px; }
	#imGroup_10 { width: 470px; }
	#imGroup_11 { width: 235px; height: 0px; }
	#imGroup_12 { width: 235px; height: 0px; }
	#imGroup_13 { width: 470px; }
	#imGroup_14 { width: 235px; height: 0px; }
	#imGroup_15 { width: 235px; height: 0px; }
	#imGroup_16 { width: 470px; }
	#imGroup_17 { width: 235px; height: 0px; }
	#imGroup_18 { width: 235px; height: 0px; }
	#imGroup_19 { width: 470px; }
	#imGroup_20 { width: 235px; height: 0px; }
	#imGroup_21 { width: 235px; height: 0px; }
	#imGroup_22 { width: 470px; }
	#imGroup_23 { width: 235px; height: 32px; }
	#imCell_21 { width: 233px; min-height: 26px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_21 { width: 233px; min-height: 26px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_21 { left: 1px; right: 1px; }
	
}
@media  (max-width: 479px) {
	#imBreadcrumb { width: 100%; margin-left: 0px; margin-right: 0px; }
	#imGroup_1 { width: 100%; clear: left; }
	#imGroup_2 { width: 100%; clear: left; }
	#imGroup_3 { display: none; clear: left; }
	#imCell_1 { clear: left; }
	#imCell_1 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_1 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_1 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_4 { display: none; clear: left; }
	#imGroup_5 { display: none; clear: left; }
	#imGroup_6 { display: none; clear: left; }
	#imGroup_7 { display: none; clear: left; }
	#imGroup_8 { display: none; clear: left; }
	#imGroup_9 { display: none; clear: left; }
	#imGroup_10 { display: none; clear: left; }
	#imGroup_11 { display: none; clear: left; }
	#imGroup_12 { display: none; clear: left; }
	#imGroup_13 { display: none; clear: left; }
	#imGroup_14 { display: none; clear: left; }
	#imGroup_15 { display: none; clear: left; }
	#imGroup_16 { display: none; clear: left; }
	#imGroup_17 { display: none; clear: left; }
	#imGroup_18 { display: none; clear: left; }
	#imGroup_19 { display: none; clear: left; }
	#imGroup_20 { display: none; clear: left; }
	#imGroup_21 { display: none; clear: left; }
	#imGroup_22 { width: 100%; clear: left; }
	#imGroup_23 { display: none; clear: left; }
	#imCell_21 { clear: left; }
	#imCell_21 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_21 { width: 100%; min-height: 0px; padding: 3px 3px -17px 3px; }
	#imCellStyleGraphics_21 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	
}
